.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0;
    padding-top: 92px;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr); 
        padding-top: 88px;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 64px;
    }
}