.place__image {
   width: 460px;
   height: 460px;
   object-fit: cover;
   justify-self: center;
   margin: 0;
   padding: 0;
}
@media screen and (max-width: 1024px) {
   .place__image {
   width: 440px;
   height: 440px;
   }
}
@media screen and (max-width: 850px) {
   .place__image {
   width: 340px;
   height: 340px;
   }
}

@media screen and (max-width: 550px) {
   .place__image {
   width: calc(100% + 48px);
   }
}
@media screen and (max-width: 320px) {
   .place__image {
   width: calc(100% + 32px);
   }
}