.intro__list {
    list-style: none;
    color: white;
    font-family: 'Inter',  Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-left: 0;
    padding: 0;
}