.lead {
    width: calc(100% - 200px);
    max-width: 984px;
    margin: 0 auto;
    padding: 56px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
@media screen and (max-width: 1024px) {
    .lead {
        width: 100%;
        padding-top: 48px;
    }
}
