.footer__link {
    display: inline-block;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;

}
.footer__link:last-of-type {
    margin: 0;
}
.footer__link:hover {
    opacity: .5;
}
@media screen and (max-width: 320px) {
    .footer__link {
        gap: 32px;
    }
}