.lead__title {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    line-height: 100px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 730px) {
    .lead__title {
        font-size: 50px;
    }
}
@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px
    }
}
