.lead__title {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    line-height: 100px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
