.footer__links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 18px;
}
@media screen and (max-width: 720px) {
    .footer__links {
        flex-direction: column;
    }
}