.place__paragraph {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}
.place__paragraph:first-of-type {
    margin-top: 0;
}
.place__paragraph:last-of-type {
    margin-top: 26px;
}
