.footer__copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin: 0;
}
@media screen and (max-width: 720px) {
    .footer__copyright {
        padding-top: 48px;
    }
}