.intro__text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26,08px;
    width: 690px;
    height: 208px;
    margin-top: 40px;
    color: white;
}