.intro {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    padding-top: 114px;
    padding-left: 100px;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 48px)
    }
}
@media screen and (max-width: 320px) {
    .intro {
        width: calc(100% - 32px);
    }
}