.intro {
    width: 690px;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    padding-left: 100px;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .intro {
        width: 690px;
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        width: 100%;
        padding-top: 88px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        width: 288px;
        padding-top: 64px;
    }
}