.intro {
    width: 690px;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    padding-left: 100px;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        width: 720px;
        padding-top: 88px;
    }
}
@media screen and (max-width: 720px) {
    .intro {
        width: calc(100% - 32px);
        padding-top: 64px;
    }
}