.lead__subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    width: 640px;
    height: 72px;
    margin-top: 32px;
    text-align: center;
    color: white;
}
