.lead__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 640px;
    margin: 32px 0 0;
    text-align: center;
    color: white;
}
@media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 20px;
    }
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}