.lead__subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    width: 640px;
    height: 72px;
    margin-top: 32px;
    margin-left: 172px;
    margin-right: 172px;
    margin-bottom: 64px;
    text-align: center;
    color: white;
}
@media screen and (max-width: 319px) {
    .lead__subtitle {
        min-width: 288px;
        min-height: 40px;
    }
}