.cover {
    padding-top: 92px;
    min-height: 740px;
    background-image: url(../../images/__background.png);
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.cover:before {
    content: '';
    background: #2A2C2F;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.cover:hover:before {
    opacity: .8;
}
@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}
@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}