.lead__caption {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 8px 0 0;
    color: white;
    align-self: flex-start;
}