.cover__title {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-decoration: none;
    color: white;
    max-width: 560px;
    margin: 0;   
}
@media screen and (max-width: 370px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: 100%;
    }
}