.footer {
    max-width: 1184px;
    padding: 92px 0 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
@media screen and (max-width: 1024px){
    .footer {
        width: calc(100% - 96px)
    }
}
@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - 48px);
        padding-top: 88px;
    }
}
@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 320px) {
    .footer {
        width: calc(100% - 32px);
        padding-top: 64px;
        flex-direction: column;
        gap: 48px;
    }
}