.cover__item {
    max-width: 1184px;
    max-height: 740px;
    background-image: url(../../../images/__background.png);
    background-size: cover;
    box-sizing: border-box;
    min-height: 740px;
    min-width: 1184px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.cover__item:before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.cover__item:hover:before {
    opacity: 0.8;
}